.services__padding{
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    margin-top: 2%;
}

.services__container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.services__title{
    width: 100%;
    display: flex;
    height: 10%;
    align-items: center;
    gap: 25px;
}

.services__title h1{
    font-size: 3.2rem;
    background-color: #BDF772;
}

.services__title p{
    width: 50%;
    font-size: 1.4rem;
}

.services__cards__container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 85%;
}

.services__card{
    width: 49%;
    height: 45%;
    border-radius: 50px;
    padding: 50px;
    display: flex;
}

.services__card:nth-child(1),
.services__card:nth-child(4){
    box-shadow: 0 10px 0px rgba(0, 0, 0, 1);
    border: 3px solid #000;
}

.services__card:nth-child(2),
.services__card:nth-child(3){
    background-color: #000;
}

.services__card__left{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.services__card__left span{
    background-color: #BDF772;
    box-decoration-break: clone;
    display: inline;
    color: #000;
    font-size: 2.4rem;
}

.services__card__left__link{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-end;
}

.services__card__left__link i{
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #000;
}

.services__card__left__link a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
}

.services__card__right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services__card__right img{
    width: 80%;
    object-fit: cover;
}